<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489164151552-uqlj1elt00cuj2vqk3mo2r2le4thorq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489164151552-uqlj1elt00cuj2vqk3mo2r2le4thorq4</string>
	<key>API_KEY</key>
	<string>AIzaSyBDiHfzw9IrFlqYnCbMuHEJbH_eXM3aIJs</string>
	<key>GCM_SENDER_ID</key>
	<string>489164151552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connecty</string>
	<key>PROJECT_ID</key>
	<string>connecty-e0f8c</string>
	<key>STORAGE_BUCKET</key>
	<string>connecty-e0f8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489164151552:ios:848f7c655408c71f0cb1e5</string>
</dict>
</plist>