<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625499815913-pu634k75n51p7ucr6df0sui1o1a37q0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625499815913-pu634k75n51p7ucr6df0sui1o1a37q0a</string>
	<key>API_KEY</key>
	<string>AIzaSyDnejGE-K0miSqPOHBdD24GbmHRUsgWGb0</string>
	<key>GCM_SENDER_ID</key>
	<string>625499815913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connecty</string>
	<key>PROJECT_ID</key>
	<string>connecty00</string>
	<key>STORAGE_BUCKET</key>
	<string>connecty00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625499815913:ios:0bd79c4a2136f987cf9578</string>
</dict>
</plist>